/prog/#data_sc/kag/houses/draft_stuff.py /prog/#data_sc/kag/houses/dummy_keys1 /prog/#data_sc/kag/houses/dummy_keys2 /prog/#data_sc/kag/houses/houses.1.py /prog/#data_sc/kag/houses/houses.2.py /prog/#data_sc/kag/houses/kaggle1_20160918_014821.csv
